@charset "utf-8";
/* CSS Document */

#wrapper{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"	;
	display: grid;
	grid-template-columns: 1fr auto auto 1fr;
}


header{
	grid-column: 2/3;
	grid-row: 1;
	
}

section{
	grid-column: 1/5;
	grid-row: 3;
}

footer{
	grid-column: 1/4;
	grid-row: 6;
}
#navigation{
	grid-column: 2/3;
	grid-row: 2;
}
article{
	grid-column: 1/5;
	grid-row: 4;
	text-align: center;
	/*display: grid;
	grid-template-columns: repeat(12, 1fr);*/
}
#loginform{
	grid-column: 1/5;
	grid-row: 3;
	text-align: center;
}
.login{
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
	margin: 2% 0 0 0;
}

.logoutbtn{
	align-self: baseline;
	padding: 5% 32% 5% 34%;
	border-radius: 10%;
	border-color: #4CAF50; 
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	
}

.absoluteunit{
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	padding: 5%;
	margin: 5% 3% 0% 0%;
	border-radius: 100%;
	border-color: #4CAF50;
	
	
}
#enhedtitle{
	font-family: 'Raleway', sans-serif;	
}
/*Slider*/
slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
@media screen and (min-width: 800px){ /*Desktop Version*/
	
#wrapper{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

header{
	grid-column: 6;
	grid-row: 2;
	text-align: center;
}
section{
	grid-column: 5/10;
	grid-row: 3;
	text-align: center;
}
#loginform{
	grid-column: 6/7;
	grid-row: 3;
	text-align: center;
}

footer{
	grid-column: 2/4;
	grid-row: 6;
}
.login{
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
	margin: 2% 0 0 0;
}
#navigation{
	grid-column: 8;
	grid-row: 2;
	text-align: center;
}
.logoutbtn{
	align-self: baseline;
	padding: 10%;
	border-radius: 10%;
	border-color: #4CAF50; 
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
}

article{
	grid-column: 4/11;
	grid-row: 4/5;
	text-align: center;
	/*display: grid;
	grid-template-columns: repeat(12, 1fr);*/
	
}
.absoluteunit{
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	padding: 5%;
	margin: 5% 3% 0% 0%;
	border-radius: 100%;
	border-color: #4CAF50;
	
}
#enhedtitle{
	font-family: 'Raleway', sans-serif;	
}
/*Slider*/
slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
}/*desktop end*/